:root {
  --thumbnail-image-width: 200px;
  --thumbnail-image-height: 133.3px;
  --thumbnail-title-height: 14px;
  --main-video-width: 756px;
  --main-video-height: 425.25px;
  --font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: var(--font-family);
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  height: 100%;
}

.landing-layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main-video {
  margin-top: 50px;
}

.main-video-iframe {
  width: var(--main-video-width);
  height: var(--main-video-height);
  border: none;
}

.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 300px;
}

.video-list {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
  height: var(--thumbnail-image-height);
  width: calc(calc(var(--thumbnail-image-width) + 20px) * 5);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.video-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thumbnail-title {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--thumbnail-title-height);
  line-height: var(--thumbnail-title-height);
  height: var(--thumbnail-image-height);
  width: var(--thumbnail-image-width);
  max-width: calc(var(--thumbnail-image-width) - 25px);
  max-height: calc(var(--thumbnail-image-height) - 25px);
  text-align: center;
  word-wrap: break-word;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
  padding: 25px 25px 25px 25px;
}

.thumbnail:hover .thumbnail-title {
  visibility: visible;
  opacity: 0.95;
  cursor: pointer;
}

.thumbnail-img {
  width: var(--thumbnail-image-width);
  height: var(--thumbnail-image-height);
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  font-family: var(--font-family);
  margin-bottom: 30px;
  text-align: center;
}

.form {
  margin: 30px;
  width: 230px;
}
